/* ================================= 
 IMPORTS
==================================== */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Rasa:wght@300&display=swap');

/* CSS */
@import url(assets/css/article.css);
@import url(assets/css/blog.css);
@import url(assets/css/featured-contents.css);
@import url(assets/css/flex.css);
@import url(assets/css/footer.css);
@import url(assets/css/grid.css);
@import url(assets/css/header.css);
@import url(assets/css/header-home.css);
@import url(assets/css/latest-posts.css);
@import url(assets/css/main-area.css);
@import url(assets/css/page.css);

/* ================================= 
  Base Styles
==================================== */

body, a {
    font-family: 'Rasa', serif;
    font-size: 22px;
    font-weight: 300;
}

body {
    color: #867070;
    min-height: 100vh; 
    margin: 0!important;
    width: 100vw;
}

a {
    color: #EAC7C7;
}

figcaption {
    font-family: 'Rasa', serif;
    font-size: 16px;
    font-weight: 300;
    color: #A0C3D2;
    padding-bottom: 20px;
    text-align: center;
}

button {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    background-color: #A0C3D2;
    color: #F7F5EB;
    border-radius: 25px;
    padding: 10px 32px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 15px;
    border: 0;
    cursor: pointer;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 50px;
    margin: 0;
}

h4 {
    font-size: 32px;
    color: #EAC7C7;
    margin: 0;
}

h5 {
    font-size: 28px;
    margin: 0;
}

h6 {
    font-size: 24px;
    margin: 0;
}

blockquote {
    font-style: italic;
}
