/* ================================= 
BASE STYLES
==================================== */

.article .posts {
    border-bottom: #867070 1px solid;
}

.hero-title {
    font-size: 48px;
    color: #FFF;
    padding: 30px;
}

.hero-header {
    overflow: hidden;
    position: relative;
    height: auto;
    background: #867070;
    margin-bottom: 40px;
}

.hero-img {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.hero-title, .post-entry-meta {
    position: relative;
}

.post-entry-meta {
    background-color: #F5EBEB;
    width: 100vw;
    padding: 5px 0 5px 0;
}

.share-icons img {
    height: 50px;
    width: auto;
}

.share-icons {
    margin-top: 20px;;
    padding: 10px;
}

.share h6 {
    background-color: #F5EBEB;
    padding: 10px;
}

/* ================================= 
FLEX
==================================== */

.posts {
    display: flex;
    flex-direction: column;
}

.posts img {
    align-self: center;
    flex: 0 1 auto;
}

/* ================================= 
GRID
==================================== */

.page-content-area {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "entry"
    "sidebar";
}

.page-content {
    grid-area: entry;
}

.sidebar {
    grid-area: sidebar;
}

/* ================================= 
MEDIA QUERIES
==================================== */

@media (max-width: 600px) {
    .hero-title {
        font-size: 30px;
        padding: 30px;
    }
    
    .hero-header {
        height: 300px;
    }

    .page-content-area {
        grid-template-columns: 1fr;
        grid-template-areas:
        "entry"
        "sidebar";
    }
    .posts img {
        max-width: 300px;
        max-height: auto;
    }
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 48px;
        padding: 30px;
    }
    
    .hero-header {
        height: 300px;
    }

    .page-content-area {
        grid-template-columns: 1fr;
        grid-template-areas:
        "entry"
        "sidebar";
    }
    .posts img {
        max-width: 500px;
        max-height: auto;
    }
}

@media (min-width: 992px) {
    .hero-title {
        font-size: 72px;
        padding: 50px;
    }
    
    .hero-header {
        height: 350px;
    }

    .page-content-area {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "entry entry sidebar";
    }
    .posts img {
        max-width: auto;
        max-height: 400px;
    }
}
  
@media (min-width: 1200px) {
    .hero-title {
        font-size: 72px;
        padding: 50px;
    }
    
    .hero-header {
        height: 350px;
    }

    .page-content-area {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "entry entry sidebar";
    }
    .posts img {
        max-width: auto;
        max-height: 400px;
    }
}