/* ================================= 
BASE STYLES
==================================== */

.featured-contents {
    background-color: #F5EBEB;
    padding: 50px;
}

.featured-card {
    border: solid #EAC7C7 1px;
    padding: 15px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.133);
    background-color: #F7F5EB;
}

.featured-card img {
    height: auto;
    width: 300px;
    object-fit: cover;
}

.featured-contents h3 {
    padding-bottom: 40px;
}

.featured-contents h4 {
    color: #867070;
    font-family: 'Rasa', serif;
    text-transform: none;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}

.featured-card p {
    color: #867070;
    font-family: 'Rasa', serif;
    text-transform: none;
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
    margin-bottom: auto;
}

.featured-card .featured-button {
    font-size: 12px;
    margin-top: 20px;
}

/* ================================= 
FLEX
==================================== */

.featured-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 0;
}

/* ================================= 
MEDIA QUERIES
==================================== */

@media (max-width: 600px) {
    .featured-card img {
        height: auto;
        width: 300px;
        object-fit: cover;
    }
    .featured-contents {
        padding: 50px;
    }
    .featured-card {
        padding: 15px;
        margin: 5px;
    }
}

@media (min-width: 768px) {
    .featured-card img {
        height: auto;
        width: 300px;
        object-fit: cover;
    }
    .featured-contents {
        padding: 50px;
    }
    .featured-card {
        padding: 15px;
        margin: 5px;
    }
}

@media (min-width: 992px) {
    .featured-card img {
        height: 250px;
        width: 350px;
    }
    .featured-contents {
        padding: 100px;
    }
    .featured-card {
        padding: 25px;
        margin: 10px;
    }
}
  
@media (min-width: 1200px) {
    .featured-card img {
        height: 250px;
        width: 350px;
    }
    .featured-contents {
        padding: 100px;
    }
    .featured-card {
        padding: 25px;
        margin: 10px;
    }
}
