/* ================================= 
BASE STYLES
==================================== */

.blog-content {
    padding: 50px;
}

.latest-heading h3 {
    padding: 40px 0 40px 0;
}

.entry-title, .sidebar-title h3, .entry-title a{
    color: #867070;
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
    padding-top: 15px;
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif;
}

.sidebar {
    background-color: #F7F5EB;
    padding: 30px;
}

.latest-posts {
    padding: 50px;
}

.posts p {
    text-align: justify;
}

.posts a, .sidebar a {
    color: #A0C3D2;
    text-decoration: none;
}

.posts a:hover, .sidebar a:hover {
    color: #EAC7C7;
}

.posts {
    margin-bottom: 30px;;
}

.profile-photo {
    border-radius: 9999px;
}

.sidebar img {
    filter: grayscale(80%);
    width: 180px;
}

.entry-date {
    color: #EAC7C7;
}

.socials img {
    width: 50px;
}

/* ================================= 
FLEX
==================================== */

.latest-posts{
    display: flex;
    flex-direction: column;
}

.latest-heading {
    align-self: center;
}

.blog-content {
    display: flex;
    gap: 50px;
    align-self: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-content img {
    align-self: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ================================= 
GRID
==================================== */

.blog-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "entry"
    "sidebar";
}

.post-content {
    grid-area: entry;
}

.sidebar {
    grid-area: sidebar;
}

@media (max-width: 600px) {
    .blog-content {
        grid-template-columns: 1fr;
        grid-template-areas:
        "entry"
        "sidebar";
    }
}

@media (min-width: 768px) {
    .blog-content {
        grid-template-columns: 1fr;
        grid-template-areas:
        "entry"
        "sidebar";
    }
}

@media (min-width: 992px) {
    .blog-content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "entry entry sidebar";
    }
}
  
@media (min-width: 1200px) {
    .blog-content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "entry entry sidebar";
    }
}