/* ================================= 
BASE STYLES
==================================== */

.header-img {
    border-radius: 9999px;
    filter: grayscale(80%);
    width: 180px;
}

.main-area {
    padding: 100px 0 100px 0;
}

.main-area .button {
    margin-top: 50px;
}

.main-area p {
    max-width: 75%;
}

/* ================================= 
FLEX
==================================== */

.main-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}