/* HOMEPAGE */
.blog-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "entry"
    "sidebar";
}

.featured-posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    grid-template-areas: 
    "card1"
    "card2"
    "card3";
}

.page-content-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "entry"
    "sidebar";
}

.post-content, .page-content {
    grid-area: entry;
}

.sidebar {
    grid-area: sidebar;
}

.featured-post {
    grid-area: featured-post;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

/* ================================= 
MEDIA QUERIES
==================================== */

/* HOMEPAGE */
@media (max-width: 768px) {
    .blog-content {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "entry entry sidebar";
    }

    .page-content-area {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
          "entry entry sidebar";
    }

    .featured-posts {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "card1"
        "card2"
        "card3";
    }
}

@media (min-width: 992px) {
    .blog-content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
          "entry entry sidebar";
    }

    .page-content-area {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
          "entry entry sidebar";
    }
  
    .featured-posts {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "card1"
        "card2"
        "card3";
    }
}
  
@media (min-width: 1200px) {
    .blog-content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
          "entry entry sidebar";
    }

    .page-content-area {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
          "entry entry sidebar";
    }
  
    .featured-posts {
          grid-template-columns: repeat(3, 1fr);
          grid-template-areas: 
        "card1 card2 card3";
    }
}